.rightContainer {
  display: flex;
  font-family: "Ubuntu", sans-serif;

  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
#github {
  color: rgb(231, 206, 206);
}
.image-hero {
  width: 500px;
}
@media (max-width: 400px) {
  .image-hero {
    width: 100%;
  }
}
