.rightContainer {
  display: flex;
  font-family: "Ubuntu", sans-serif;
  margin-left: 50px;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
#github {
  color: rgb(231, 206, 206);
}
@media (min-width: 320px) and (max-width: 1200px) {
}
